<!doctype html>
<html>
<head>
    <title>%title%</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="%root_path%css/main.css">
    <link rel="stylesheet" type="text/css" href="%root_path%css/sunburst.css">
    <script src="%root_path%/s/prettify.js"></script> 
    <script src="%root_path%js/jquery.js"></script>
</head>
<body>
    <div class = "container">
    %content%
    </div>

    <script>
    $(function() {
  	    window.prettyPrint && prettyPrint();
    });
    </script>
</body>
</html>
